{# Create AkinaySau(akinaysau@gmail.com) #}
{% extends "@s-core/default-layout.html.twig" %}

{% block body_before %}
    <h1>
        Twig Success!!!
    </h1>
    <p>
        ExtensionTest: {{ wp_test('sdfsdf') }}
    </p>
    <p>
        {{'8dfgdfg44445454 '|ru_phone}}
    </p>
    {{ the_content() }}
{% endblock %}
